body {
    font-family: "Open Sans", sans-serif;
}
:root {
  --main-color: #19c8fa;
  --second-color: hsl(193deg 81% 31% / 70%);
  --back-color: rgb(0 0 0 / 60%);
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #1d91b2;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width:370px){
    body{
      width: 370px;
    }
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  ul {
    list-style: none;
  }
  /* Start Header  */
  header {
    background-image: url(../images/header.png);
    height: 100vh;
    background-size: cover;
  }
  @media (max-width: 767px) {
    header .nav ul {
      display: none;
    }
    header .nav .toggle-menu:hover + ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgb(0 0 0 / 50%);
    }
    header .nav ul li a {
      padding: 15px !important;
    }
  }
  header .nav ul li a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
    transition-duration:0.3s ;
 }
 @media (min-width: 768px) {
  header .nav .toggle-menu {
    display: none;
  }
}
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 0;
    position: relative;
  }
  header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
}
  header .logo img {
    height: 40px;
  }
  header .nav {
    display: flex;
    color: white;
    align-items: center;
  }
  header ul {
    display: flex;
  }
  header .search {
    width: 33px;
    display: flex;
    justify-content: flex-end;
    height: 25px;
    border-left: 1px solid white;
    align-items: center;
    margin-left: 15px;
  }
header .active  { 
    border-bottom: 1px solid var(--main-color);
    color: #19c8fa !important;
}
header ul li a:hover {
    border-bottom: 1px solid var(--main-color);
    color: #19c8fa
}
.landing .left-back i {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 20px;
  color: white;
}
.landing .right-back i {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 20px;
  color: white;
}
.landing .background-landing {
position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, var(--back-color) 20%, transparent 80%);
}
.landing .content {
  background-color: var(--second-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  color: white;
  display: flex;
  justify-content: flex-end;
}
.landing .content .text {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .content {
    width: 100%;
  }
  .landing .content .text {
    max-width: 100%;
  }
}
.landing .content .text h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .content .text p {
  font-size: 14px;
  line-height: 2;
}
.landing .footer-landing ul li {
  border-radius: 50%;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.landing .footer-landing ul {
  display: flex;
  position: absolute;
  bottom: 17px;
  left: 46%;
}
.landing .footer-landing {
  display: flex;
  position: absolute;
  bottom: 17px;
  left: 46%;
}
.landing .footer-landing .circle-landing {
  background-color: var(--main-color);
}
  /* End Header  */
  /* Start Services */
  .services {
    padding-top: 100px;
    padding-bottom: 100px;
  }
.cat-title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
}
.cat-title h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
    
}
.cat-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.cat-title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.cat-title p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
.services .sevices-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 60px;
}
@media (max-width: 767px) {
  .services .sevices-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(356px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.services .sevices-container .srv-box {
  display: flex;
}
.services .sevices-container .srv-box i {
  margin-right: 50px;
}
.services .sevices-container .srv-box .text-srv h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .sevices-container .srv-box .text-srv p {
  line-height: 2;
  color: #777;
  font-size: 14px;
}
@media (max-width: 767px) {
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .srv-box i {
    margin: 0 44px 30px;
  }
}
  /* End Services */
  /* Start Design 1  */
.design-one {
  background-image: url(../images/design1.png);
  background-size: cover;
  height: 600px;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design-one::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--back-color);
}
.design-one .image-design,
.design-one .text-design {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design-one .text-design {
  color: white;
  background-color: var(--second-color);
  padding: 50px;
}
.design-one .text-design h2 {
  font-weight: normal;
  margin-bottom: 40px;

}
.design-one .text-design ul li {
  padding: 15px 0
}
.design-one .text-design ul li i {
  margin-right: 20px;
  font-size: 18px;
}
.design-one .image-design {
  text-align: center;
}
@media (max-width: 767px) {
  .design-one .image-design {
    display: none;
  }
}
.design-one .image-design img {
  position: relative;
  bottom: -150px;
}
  /* End Design 1  */
  /* Start Portfolio */
  .portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .portfolio .container .list-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolio .container .list-portfolio li a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
  }
  .portfolio .container .list-portfolio .first-list-portfolio {
    background-color: var(--main-color);
  }
  .portfolio .container .list-portfolio .first-list-portfolio a {
    color: white !important;
  }
  .portfolio .container .list-portfolio li {
    padding: 10px;
  }
  .portfolio .img-portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  .portfolio .box {
    overflow: hidden;
    position: relative;
    flex-basis: 50%;
  }
  @media (max-width: 600px) {
    .portfolio .box {
      flex-basis: 100%;
    }
  }
  @media (min-width: 768px){
   .portfolio .box {
    flex-basis: 50%;
  }
  }
  @media (min-width: 1199px){
   .portfolio .box {
    flex-basis: 25%;
  }
  }
  .portfolio .box img {
    max-width: 100%;
    transition: 0.3s;
  }
  .portfolio .img-portfolio .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%
  }
  .portfolio .img-portfolio .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
  }
  .portfolio .img-portfolio .box .caption p {
    color: var(--main-color);
  }
  .portfolio .img-portfolio .box:hover img {
    transform: rotate(3deg) scale(1.1);
  }
  .portfolio .img-portfolio .box:hover .caption {
    bottom: 0;
  }
  .portfolio .more {
    padding: 15px 20px;
    color: white;
    background-color: var(--main-color);
    width: fit-content;
    margin: 30px auto;
    display: block;
    text-decoration: none;
    border-radius: 4%;
    text-transform: uppercase;
  }
  /* End Portfolio */
  /* Start Video  */
  .video video {
    width: 100%;
  }
  .video .text-video {
    background-color: hsl(193deg 81% 31% / 25%);
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
    padding: 50px;
    color: white;
  }
  .video {
    position: relative;
  }
  .video .text-video h2 {
    font-weight: normal;
    margin: 0 0 30px;
    text-transform: uppercase;
  }
  .video .text-video p {
    margin-bottom: 30px;
  }
  .video .text-video button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
  }
  .video::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--back-color);
    position: absolute;
    top: 0;
    left: 0;
  }
  /* End Video  */
  /* Start About */
  .about {
    text-align: center;
    overflow: hidden;
  }
  .about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
  }
  @media (max-width: 767px) {
    .about img {
      bottom: -60px;
      margin-top: -60px;
    }
  }
  /* End About */
  /* Start State */
  .state {
    background-image: url(../images/state.png);
    position: relative;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .state::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--back-color);
  }
  .state .container {
    display: flex;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    
  }
  .state .container .box {
    color: white;
    background-color: var(--second-color);
    padding: 50px;
  }
  .state .container .box i {
    background-color: black;
    margin: 0 auto 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;


  }
  .state .container .box .numper {
    font-size: 50px;
    margin: 0 0 20px;
    font-weight: bold;
    text-align: center;
  }
  .state .container .box p {
    font-size: 14px;
    text-align: center;
  }
  @media (max-width: 767px) {
    .state .container .box {
      flex-basis: 100%;
    }
  }
  @media (min-width: 768px) {
    .state .container .box {
      flex-basis: 50%;
    }
  }
  @media (min-width: 992px) {
    .state .container .box {
      flex-basis: 25%;
    }
  }
  /* End State */
  /* Start Skill */
  .our-skill {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .our-skill .container {
    display: flex;
    flex-wrap: wrap;
  }
  @media (min-width: 992px) {
    .our-skill .container > div {
      flex-basis: 45%;
    }
  }
  .our-skill .container .skill-one {
    margin-right: 30px;
  }
  .our-skill .container .skill-one h3 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: normal;
  }
  .our-skill .container .skill-one p {
    line-height: 1.6;
    margin-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    color: darkgrey;
    text-align: center;
  }
  .our-skill .container .skill-one .content-skill {
    display: flex;
    margin-bottom: 25px;
  }
  @media (max-width: 991px) {
    .our-skill .skill-one .content-skill {
      flex-direction: column;
      text-align: center;
    }
    .our-skill .skill-one .content-skill img {
      margin: 0 auto 20px;
    }
    .our-skill .container .skill-one {
      margin-right: 0;
    }
    .our-skill .container .skill-two {
      margin-left: 0;
      margin-top: 80px;
    }
    .our-skill .content-skill {
      display: flex;
      align-items: center;
    }
  }
  
  .our-skill .container .skill-one .content-skill img {
    width: 21%;
    border-radius: 50%;
    margin-right: 21px;
    height: 100%;
  }
  
  .our-skill .container .skill-one .content-skill .text {
    line-height: 2;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    width: 281px;
  }
  .our-skill .container .skill-one .content-skill .text p {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    padding-top: 20px;
    margin-bottom: 11px;
    color: darkgray;
  }
  .our-skill .container .skill-two {
    margin-left: 0
  }
  .our-skill .container .skill-two h3 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: normal;
  }
  .our-skill .container .skill-two p {
    line-height: 1.6;
    margin-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    color: darkgray;
    text-align: center;
  }
  .our-skill .container .skill-two .holder {
    padding-top: 7px;
    padding-bottom: 30px;
  }
  .our-skill .container .skill-two .holder h4 {
    font-weight: normal;
  }
  .our-skill .container .skill-two .holder .prog {
    height: 30px;
    background-color: darkgray;
    margin-top: 20px;
    position: relative;
  }
  .our-skill .container .skill-two .holder span {
    width: 90%;
    background-color: var(--main-color);
    height: 30px;
    position: absolute;
    z-index: 2;
  }
  .our-skill .container .skill-two .holder .less-two {
    width: 85%;
    background-color: var(--main-color);
    height: 30px;
    position: absolute;
    z-index: 2;
  }
  .our-skill .container .skill-two .holder .less-three {
    width: 80%;
    background-color: var(--main-color);
    height: 30px;
    position: absolute;
    z-index: 2;
  }
  .our-skill .container .skill-two .holder span::after {
    content: "";
    position: absolute;
    top: -15px;
    right: -8px;
    border: 10px solid;
    border-color: black transparent transparent transparent;
    border-width: 8px;
  }
  .our-skill .container .skill-two .holder .less-one::before {
    content: "90%";
    width: 40px;
    position: absolute;
    top: -40px;
    right: -14px;
    background-color: black;
    color: white;
    padding: 4px 0;
    border-radius: 10%;
    text-align: center;
  }
  .our-skill .container .skill-two .holder .less-two::before {
    content: "85%";
    width: 40px;
    position: absolute;
    top: -40px;
    right: -14px;
    background-color: black;
    color: white;
    padding: 4px 0;
    border-radius: 10%;
    text-align: center;
  }
  .our-skill .container .skill-two .holder .less-three::before {
    content: "80%";
    width: 40px;
    position: absolute;
    top: -40px;
    right: -14px;
    background-color: black;
    color: white;
    padding: 4px 0;
    border-radius: 10%;
    text-align: center;
  }
  .our-skill .container .skill-one ul {
    display: flex;
    justify-content: center;
  }
  .our-skill .container .skill-one ul li {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #837c7c;
  }
  .our-skill .container .skill-one ul .circle-skill {
    background-color: var(--main-color);
  }
  /* End Skill */
  /* Start Quote */
  .quote {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/quote.png);
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
  }
  .quote::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--back-color);
    position: absolute;
    top: 0;
    left: 0;
  }
  .quote .container {
    position: relative;
  }
  .quote q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
  }
  /* End Quote */
  /* Start Pricing */
  .pricing {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
  }
  .pricing .plans .plan {
    text-align: center;
  }
  .pricing .plans .plan .plan-head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
  .pricing .plans .plan .plan-head h3 {
    margin-bottom: 20px;
    font-weight: normal;
  }
  .pricing .plans .plan .plan-head span {
    font-size: 60px;
    font-weight: bold;
  }
  .pricing .plans .plan .plan-head span::before {
    content: "$";
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-weight: normal;
  }
  .pricing .plans .plan .plan-head span::after {
    content: "/Mo";
    font-size: 20px;
    position: relative;
    right: -15px
  }
  .pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
  }
  .pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
  }
  .pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.pricing .plans .plan .plan-foot a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
    transition: 0.5s;
}
.pricing .plans .plan .plan-foot a:hover {
  background-color: var(--main-color);
  color: white;
}
.pricing .container .text {
  text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
}
.pricing .container .link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
}
.subscripe {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../images/subscripe.png);
  position: relative;
  color: white;
  background-size: cover;
}
.subscripe::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--back-color);
  position: absolute;
  top: 0;
  left: 0;
}
.subscripe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
 .subscripe .container {
  flex-direction: column;
}
}
.subscripe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%
}
.subscripe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px
}
.subscripe form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
  color: white;
}
.subscripe form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
}
.subscripe p {
  line-height: 2;
  margin-left: 50px;
  padding-top: 30px;
}
  /* End Pricing */
  /* Start Contact */
  .contact {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .contact .content-contact {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    .contact .content-contact {
      flex-direction: column;
    }
  }
  .contact .content-contact form {
    flex-basis: 70%;
  }
  .contact .content-contact form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}
.contact .content-contact form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
}
.contact .content-contact .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .content-contact .info {
    order: -1;
    text-align: center;
  }
}

.contact .content-contact .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .content-contact .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .content-contact .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .contact .content-contact .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .content-contact .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .content-contact .info address {
    margin-bottom: 40px;
  }
}
  /* End Contact */
  /* Start Footer */
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../images/subscripe.png");
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
  }
  .footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--back-color);
  }
  .footer .container {
    position: relative;
  }
  .footer img {
    margin-bottom: 20px;
  }
  .footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
  }
  .footer .social-icons i {
    padding: 10px 15px;
  }
  .footer .copyright {
    margin-top: 60px;
  }
  .footer .copyright span {
    font-weight: bold;
    color: var(--main-color);
  }
  /* End Footer */
                            /* Design By Youssef Elewa */
